In [2]:
import numpy as np
import pandas as pd

In [24]:
 df = pd.read_csv(r'C:\Users\lisai\OneDrive\Documentos\Lis Alvarez\Data Science\Atom\Demographic DataAnalysis/adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
race_count = df.value_counts(subset=["race"])
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [28]:
average_age_men = df[df.sex=="Male"].age.mean()
print(average_age_men)

39.43354749885268

In [40]:
percentage_bachelors = (df.education=="Bachelors").value_counts(normalize=True)[True]
print(percentage_bachelors)

0.16446055096587942

In [63]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[(df["education"]=="Bachelors") | (df["education"]=="Masters") | (df["education"]=="Doctorate")]
lower_education = df.loc[(df["education"]!="Bachelors") & (df["education"]!="Masters") & (df["education"]!="Doctorate")]

# percentage with salary >50K
higher_education_rich = (higher_education.salary==">50K").value_counts(normalize=True)[True]
lower_education_rich = (lower_education.salary==">50K").value_counts(normalize=True)[True]
print(lower_education_rich)

0.173713601914639

In [69]:
 # What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()

In [71]:
 # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df.loc[df["hours-per-week"]==min_work_hours]
rich_percentage = (num_min_workers.salary==">50K").value_counts(normalize=True)[True]
print(rich_percentage)

0.1

In [122]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df.groupby('native-country')['salary'==">50K"]
print(highest_earning_country)
highest_earning_country_percentage = (df.loc[df["salary"]==">50K"]["native-country"]).value_counts(normalize=True).max()
print(highest_earning_country_percentage)

KeyError: 'Column not found: False'

In [126]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = (df.groupby('native-country')['salary'].apply(lambda x: (x == '>50K').mean() * 100)).idxmax()
print(highest_earning_country)
highest_earning_country_percentage = round((df.groupby('native-country')['salary'].apply(lambda x: (x == '>50K').mean() * 100)).max(),1)
print(highest_earning_country_percentage)

Iran
41.9

In [92]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df.loc[(df["salary"]==">50K") & (df["native-country"]=="India")].value_counts(subset="occupation").idxmax()
print(top_IN_occupation)

Prof-specialty